.footer {
  height: 50px;
  border-top: 1px solid rgba(216, 219, 226, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fbfbef 0%, #fff7f4 100%);
  font-size: 14px;
  color: #5f6673;
  font-weight: 700;
}
