.pinCard {
  margin-bottom: 16px;
  break-inside: avoid;
  cursor: pointer;
}

.image {
  width: 100%;
  border-radius: 12px;
  transition: 0.2s;
  display: block;
}

.image:hover {
  opacity: 0.85;
}
